# Скомпилированные файлы
*.class
*.exe
*.dll
*.so

# Зависимости
node_modules/
venv/
__pycache__/

# Файлы IDE
.idea/
.vscode/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы с секретами и паролями
.env
*.key

# Временные файлы
*.tmp
*.log
