# Скомпилированные файлы
*.class
*.exe

# Зависимости
node_modules/
venv/

# Файлы IDE
.idea/
.vscode/

# Файлы операционной системы
.DS_Store
Thumbs.db
desktop.ini

# Файлы с секретами
.env
*.key

# Временные файлы
*.tmp
*.log
